[submodule "lance_manager"]
	path = 3rd_party/lance_manager
	url = git@192.168.10.116:ai/group-dexcanvas/lance_manager.git
[submodule "assets/dexstream_digital_assets"]
	path = assets/dexstream_digital_assets
	url = git@github.com:DexGEM-Lab/dexstream_digital-assets.git
	branch = main
