<?xml version='1.0' encoding='UTF-8'?>
<robot name="mano_hand">
  <material name="skin_color">
    <color rgba="0.95 0.75 0.65 1.0"/>
  </material>
  <material name="tip_marker_red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARTx" type="prismatic">
    <parent link="base_link"/>
    <child link="ARTx_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.0" upper="2.0" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARTx_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARTy" type="prismatic">
    <parent link="ARTx_link"/>
    <child link="ARTy_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0" upper="2.0" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARTy_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARTz" type="prismatic">
    <parent link="ARTy_link"/>
    <child link="ARTz_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.0" upper="2.0" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARTz_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARRx" type="revolute">
    <parent link="ARTz_link"/>
    <child link="ARRx_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-9.42478" upper="9.42478" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARRx_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARRy" type="revolute">
    <parent link="ARRx_link"/>
    <child link="ARRy_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-9.42478" upper="9.42478" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARRy_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARRz" type="revolute">
    <parent link="ARRy_link"/>
    <child link="ARRz_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-9.42478" upper="9.42478" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARRz_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="palm_joint" type="fixed">
    <parent link="ARRz_link"/>
    <child link="palm"/>
    <origin xyz="0 0 0" rpy="1.5708 0 3.1416"/>
  </joint>
  <link name="palm">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.02"/>
      <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_palm.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/palm.stl" scale="0.7 0.7 0.7"/>
      </geometry>
    </collision>
  </link>
  <joint name="j1_thumb_cmc_abd" type="revolute">
    <parent link="palm"/>
    <child link="thumb_cmc_abd"/>
    <origin xyz="0.023475066 -0.016210224 0.026734147" rpy="0 0 0"/>
    <axis xyz="0.14622723 -0.95447963 -0.25997362"/>
    <limit lower="-1.175" upper="2.621" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_cmc_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j1_thumb_cmc_flex" type="revolute">
    <parent link="thumb_cmc_abd"/>
    <child link="thumb_cmc_flex"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0.9812959 0.17321378 -0.08399638"/>
    <limit lower="-2.0" upper="1.97" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_cmc_flex">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j1_thumb_cmc_twist" type="revolute">
    <parent link="thumb_cmc_flex"/>
    <child link="thumb_cmc"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0.12520385 -0.24282849 0.9619555"/>
    <limit lower="-1.5708" upper="1.5708" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_cmc">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_thumb1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/thumb1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j1_thumb_mcp_flex" type="revolute">
    <parent link="thumb_cmc"/>
    <child link="thumb_mcp_flex"/>
    <origin xyz="0.019310433 0.0012230678 0.024574954" rpy="0 0 0"/>
    <axis xyz="0.37250043368803304 0.882215473004522 -0.2879918160185022"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_mcp_flex">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j1_thumb_mcp_abd" type="revolute">
    <parent link="thumb_mcp_flex"/>
    <child link="thumb_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0.5869460930683307 -0.46433670072876887 -0.6632388047966917"/>
    <limit lower="-0.7" upper="0.7" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_thumb2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/thumb2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j1_thumb_ip" type="revolute">
    <parent link="thumb_mcp"/>
    <child link="thumb_ip"/>
    <origin xyz="0.021707261 -0.0056749955 0.01484127" rpy="0 0 0"/>
    <axis xyz="0.37250043368803304 0.882215473004522 -0.2879918160185022"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_ip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_thumb3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="0.0253767204 -0.00300318655 0.0244902596" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/thumb3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j2_index_mcp_abd" type="revolute">
    <parent link="palm"/>
    <child link="index_mcp_abd"/>
    <origin xyz="0.08561257 -0.0052420013 0.021415338" rpy="0 0 0"/>
    <axis xyz="0.06452477422609466 0.9979161054472823 -0.0"/>
    <limit lower="-0.349" upper="0.349" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="index_mcp_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j2_index_mcp_flex" type="revolute">
    <parent link="index_mcp_abd"/>
    <child link="index_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="-0.007903891195637423 0.0005110617937943122 -0.9999686331679662"/>
    <limit lower="-0.175" upper="1.571" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="index_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_index1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/index1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j2_index_pip" type="revolute">
    <parent link="index_mcp"/>
    <child link="index_pip"/>
    <origin xyz="0.031947784 0.0039509865 0.0023879725" rpy="0 0 0"/>
    <axis xyz="-0.007903891195637423 0.0005110617937943122 -0.9999686331679662"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="index_pip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_index2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/index2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j2_index_dip" type="revolute">
    <parent link="index_pip"/>
    <child link="index_dip"/>
    <origin xyz="0.021657292 -0.0014003501 -0.00017189793" rpy="0 0 0"/>
    <axis xyz="-0.007903891195637423 0.0005110617937943122 -0.9999686331679662"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="index_dip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_index3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="0.0249083675 0.000962134916 -0.000523941591" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/index3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j3_middle_mcp_abd" type="revolute">
    <parent link="palm"/>
    <child link="middle_mcp_abd"/>
    <origin xyz="0.09203192 -0.0013956837 -0.0034511378" rpy="0 0 0"/>
    <axis xyz="0.062129144 0.9978895 0.018879913"/>
    <limit lower="-0.524" upper="0.349" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="middle_mcp_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j3_middle_mcp_flex" type="revolute">
    <parent link="middle_mcp_abd"/>
    <child link="middle_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="-0.17736092 0.029654019 -0.983699"/>
    <limit lower="-0.175" upper="1.571" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="middle_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_middle1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/middle1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j3_middle_pip" type="revolute">
    <parent link="middle_mcp"/>
    <child link="middle_pip"/>
    <origin xyz="0.030459391 0.0017434619 -0.0056828517" rpy="0 0 0"/>
    <axis xyz="-0.17736092 0.029654019 -0.983699"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="middle_pip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_middle2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/middle2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j3_middle_dip" type="revolute">
    <parent link="middle_pip"/>
    <child link="middle_dip"/>
    <origin xyz="0.0223769 -0.0013161143 -0.00407423" rpy="0 0 0"/>
    <axis xyz="-0.17736092 0.029654019 -0.983699"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="middle_dip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_middle3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="0.0251169354 0.00392885879 -0.0042121741" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/middle3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j4_ring_mcp_abd" type="revolute">
    <parent link="palm"/>
    <child link="ring_mcp_abd"/>
    <origin xyz="0.079544656 -0.0039365287 -0.027616814" rpy="0 0 0"/>
    <axis xyz="0.037032835 0.9916655 -0.12340259"/>
    <limit lower="-0.524" upper="0.349" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="ring_mcp_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j4_ring_mcp_flex" type="revolute">
    <parent link="ring_mcp_abd"/>
    <child link="ring_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="-0.3284884 -0.104545005 -0.93870425"/>
    <limit lower="-0.175" upper="1.571" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="ring_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_ring1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/ring1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j4_ring_pip" type="revolute">
    <parent link="ring_mcp"/>
    <child link="ring_pip"/>
    <origin xyz="0.027481843 0.002144217 -0.0052470323" rpy="0 0 0"/>
    <axis xyz="-0.3284884 -0.104545005 -0.93870425"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="ring_pip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_ring2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/ring2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j4_ring_dip" type="revolute">
    <parent link="ring_pip"/>
    <child link="ring_dip"/>
    <origin xyz="0.02287541 -0.0018251042 -0.0078017134" rpy="0 0 0"/>
    <axis xyz="-0.3284884 -0.104545005 -0.93870425"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="ring_dip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_ring3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="0.0237780027 0.00388107379 -0.00751075149" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/ring3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j5_pinky_mcp_abd" type="revolute">
    <parent link="palm"/>
    <child link="pinky_mcp_abd"/>
    <origin xyz="0.067013994 -0.01024252 -0.044679318" rpy="0 0 0"/>
    <axis xyz="-0.13015692 0.95728177 -0.258207"/>
    <limit lower="-0.698" upper="0.349" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="pinky_mcp_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j5_pinky_mcp_flex" type="revolute">
    <parent link="pinky_mcp_abd"/>
    <child link="pinky_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="-0.55133474 -0.28632545 -0.7836121"/>
    <limit lower="-0.175" upper="1.571" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="pinky_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_pinky1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/pinky1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j5_pinky_pip" type="revolute">
    <parent link="pinky_mcp"/>
    <child link="pinky_pip"/>
    <origin xyz="0.016450608 -8.2275365e-05 -0.0127552" rpy="0 0 0"/>
    <axis xyz="-0.55133474 -0.28632545 -0.7836121"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="pinky_pip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_pinky2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/pinky2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j5_pinky_dip" type="revolute">
    <parent link="pinky_pip"/>
    <child link="pinky_dip"/>
    <origin xyz="0.015324423 -0.0007506474 -0.010507695" rpy="0 0 0"/>
    <axis xyz="-0.55133474 -0.28632545 -0.7836121"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="pinky_dip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_pinky3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="0.0165242348 0.00156218186 -0.0103372335" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/pinky3.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
